<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 
  Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <h1>FL-Server Upload Form for RO</h1>
    <p>リソースサーバにモデルをアップロードし，ポリシーを設定する．</p>
    <br>
    <p>{{ resource }} is successfully uploaded!</p>
    <br>
    <h2>ポリシー設定エンドポイントに移動して，ポリシーを設定する．</h2>
    <form action="/set-policy" method="post">
        <button type="submit" value="set-policy">set policy</button>
        <input type="hidden" value=</form>
</body>

</html>