<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 
  Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <h1>FL-Server</h1>
    <p>リソースサーバにモデルをアップロードし，ポリシーを設定する．</p>
    <p>{{ name }} is successfully uploaded!</p>
    <br>
    <h3>PAT 発行エンドポイントに移動して，PATを発行する．</h3>
    <form action="/redirect-pat" method="post">
        <button type="submit" value="redirect-pat">issue pat</button>
    </form>
    <br>
    <br>
    （手続き内容02）<br>
    モデル差分の提出が完了した．<br>
    次のページでは，提出したモデル差分を外部の認可システムを用いて他者によるアクセスから保護するための準備を実行する．<br>
    すなわち，リソース所有者は認可ブロックチェーン上でPATと呼ばれるアクセストークンを生成し，リソースサーバに対し付与する．<br>
    </p>

    <p><img src="/static/images/rreg02.png" width="841" height="500"></p>
</body>

</html>